<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>噬灭日蚀</string>
		<key>Id</key>
		<string>1</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4675</string>
		<key>introduction</key>
		<string>日蚀亲临，如我之神迹！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>地府判官</string>
		<key>Id</key>
		<string>2</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4676</string>
		<key>introduction</key>
		<string>日蚀亲临，如我之神迹！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>绝世舞姬</string>
		<key>Id</key>
		<string>3</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4677</string>
		<key>introduction</key>
		<string>吟诵十四行诗，作为仲夏之梦的开场。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王都密探</string>
		<key>Id</key>
		<string>4</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4678</string>
		<key>introduction</key>
		<string>秘密的密，探案的探。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>雷霆之王</string>
		<key>Id</key>
		<string>5</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4679</string>
		<key>introduction</key>
		<string>天怒，高悬在世人头上的利剑。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>森之风灵</string>
		<key>Id</key>
		<string>6</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4680</string>
		<key>introduction</key>
		<string>（去吧！你将因所爱而勇敢。）我们，因所爱而勇敢。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>圣骑之力</string>
		<key>Id</key>
		<string>7</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4681</string>
		<key>introduction</key>
		<string>别叫我什么正经侠，听起来很不正经的。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>入梦之灵</string>
		<key>Id</key>
		<string>8</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4682</string>
		<key>introduction</key>
		<string>追随梦的传奇</string>
	</dict>
	<dict>
		<key>name</key>
		<string>燃魂重炮</string>
		<key>Id</key>
		<string>9</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4683</string>
		<key>introduction</key>
		<string>一把年纪都活在了拆迁对面这件事上。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>齐天大圣</string>
		<key>Id</key>
		<string>10</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4684</string>
		<key>introduction</key>
		<string>俺老孙来也！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>灵魂劫卜</string>
		<key>Id</key>
		<string>11</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4685</string>
		<key>introduction</key>
		<string>花如盛世绽放，以人心培育。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>苍狼末裔</string>
		<key>Id</key>
		<string>12</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4686</string>
		<key>introduction</key>
		<string>穿透你的信念。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>六合虎拳</string>
		<key>Id</key>
		<string>13</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4687</string>
		<key>introduction</key>
		<string>震惊长安第一拳。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天籁弦音</string>
		<key>Id</key>
		<string>14</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4688</string>
		<key>introduction</key>
		<string>做个狂热又任性的魔女，把帅气的男朋友带回家~</string>
	</dict>
	<dict>
		<key>name</key>
		<string>冰雪之华</string>
		<key>Id</key>
		<string>15</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4689</string>
		<key>introduction</key>
		<string>故乡的梅花，开了吗？</string>
	</dict>
	<dict>
		<key>name</key>
		<string>炼金大师</string>
		<key>Id</key>
		<string>16</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4690</string>
		<key>introduction</key>
		<string>皇家认证，特级炼金术师是也！炉子也有资格证书~~</string>
	</dict>
	<dict>
		<key>name</key>
		<string>逆流之时</string>
		<key>Id</key>
		<string>17</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4691</string>
		<key>introduction</key>
		<string>人家这么可爱，当然是男孩子。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>铁血都督</string>
		<key>Id</key>
		<string>18</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4692</string>
		<key>introduction</key>
		<string>没有欲望，何来胜利？</string>
	</dict>
	<dict>
		<key>name</key>
		<string>精英酋长</string>
		<key>Id</key>
		<string>19</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4693</string>
		<key>introduction</key>
		<string>哎，你们这帮磨人的小妖精！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鲨之猎刃</string>
		<key>Id</key>
		<string>20</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4694</string>
		<key>introduction</key>
		<string>潜行于黑暗，游猎于光明。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>流云之翼</string>
		<key>Id</key>
		<string>21</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4695</string>
		<key>introduction</key>
		<string>潜行于黑暗，游猎于光明。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>最终兵器</string>
		<key>Id</key>
		<string>22</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4696</string>
		<key>introduction</key>
		<string>太阳之外，星夜之中</string>
	</dict>
	<dict>
		<key>name</key>
		<string>叛逆吟游</string>
		<key>Id</key>
		<string>23</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4697</string>
		<key>introduction</key>
		<string>该我上场表演了</string>
	</dict>
	<dict>
		<key>name</key>
		<string>恋之微风</string>
		<key>Id</key>
		<string>24</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4698</string>
		<key>introduction</key>
		<string>一半高贵，一半纯情。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>和平守望</string>
		<key>Id</key>
		<string>25</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4699</string>
		<key>introduction</key>
		<string>生存就是最精彩的战斗！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>魅力之狐</string>
		<key>Id</key>
		<string>26</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4700</string>
		<key>introduction</key>
		<string>唤醒我的，是，你吗?（</string>
	</dict>
	<dict>
		<key>name</key>
		<string>破镜之刃</string>
		<key>Id</key>
		<string>27</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4701</string>
		<key>introduction</key>
		<string>自我之像，犹在镜中。（</string>
	</dict>
	<dict>
		<key>name</key>
		<string>圣域余辉</string>
		<key>Id</key>
		<string>28</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4702</string>
		<key>introduction</key>
		<string>我就是天堂岛的戴安娜公主</string>
	</dict>
	<dict>
		<key>name</key>
		<string>霸王</string>
		<key>Id</key>
		<string>29</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4703</string>
		<key>introduction</key>
		<string>四面楚歌起，英雄战末路。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>爆弹怪猫</string>
		<key>Id</key>
		<string>30</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4704</string>
		<key>introduction</key>
		<string>本猫守望的长城，屹立不倒</string>
	</dict>
	<dict>
		<key>name</key>
		<string>破灭之刃</string>
		<key>Id</key>
		<string>31</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4705</string>
		<key>introduction</key>
		<string>比任何对手都强，乃人生最大的烦恼。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>烈炮小子</string>
		<key>Id</key>
		<string>32</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4706</string>
		<key>introduction</key>
		<string>打自己的仗，让别人去写兵书吧</string>
	</dict>
	<dict>
		<key>name</key>
		<string>嚣张之镰</string>
		<key>Id</key>
		<string>33</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4707</string>
		<key>introduction</key>
		<string>我有哥哥，你没有，这就是任性的理由</string>
	</dict>
	<dict>
		<key>name</key>
		<string>洛神降临</string>
		<key>Id</key>
		<string>34</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4708</string>
		<key>introduction</key>
		<string>人家抒发悲伤时 不要随便破坏氛围好吗？</string>
	</dict>
	<dict>
		<key>name</key>
		<string>万物有灵</string>
		<key>Id</key>
		<string>35</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4709</string>
		<key>introduction</key>
		<string>万物皆有灵。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>寒月公主</string>
		<key>Id</key>
		<string>36</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4710</string>
		<key>introduction</key>
		<string>夜晚的太阳，保护属于他的人。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>玫瑰剑士</string>
		<key>Id</key>
		<string>37</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4711</string>
		<key>introduction</key>
		<string>记住，玫瑰有刺。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天下无双</string>
		<key>Id</key>
		<string>38</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4712</string>
		<key>introduction</key>
		<string>世间之寂寞，莫过于无敌</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鹿灵守心</string>
		<key>Id</key>
		<string>39</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4713</string>
		<key>introduction</key>
		<string>要变成光，因为有怕黑的人。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>正义爆轰</string>
		<key>Id</key>
		<string>40</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4714</string>
		<key>introduction</key>
		<string>不屈的灵魂，不灭的斗志，不老的心。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>谋士之战</string>
		<key>Id</key>
		<string>41</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4715</string>
		<key>introduction</key>
		<string>如有一味绝境，非历十方生死。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>破魔之箭</string>
		<key>Id</key>
		<string>42</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4716</string>
		<key>introduction</key>
		<string>千窟为佑，太平无忧。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>幻纱之灵</string>
		<key>Id</key>
		<string>43</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4717</string>
		<key>introduction</key>
		<string>最有价值之物，给最珍贵之人。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>星辰之子</string>
		<key>Id</key>
		<string>44</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4718</string>
		<key>introduction</key>
		<string>剑指的方向，就是天才的故乡。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>远游之枪</string>
		<key>Id</key>
		<string>45</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4719</string>
		<key>introduction</key>
		<string>世界那么大我想去看看。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>双面君主</string>
		<key>Id</key>
		<string>46</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4720</string>
		<key>introduction</key>
		<string>能群殴何必单挑呢</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蓝屏警告</string>
		<key>Id</key>
		<string>47</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4721</string>
		<key>introduction</key>
		<string>你们总是能想出一千种改需求的理由</string>
	</dict>
	<dict>
		<key>name</key>
		<string>冷晖之枪</string>
		<key>Id</key>
		<string>48</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4722</string>
		<key>introduction</key>
		<string>不必辨认我，识我的枪吧。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鲜血枭雄</string>
		<key>Id</key>
		<string>49</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4723</string>
		<key>introduction</key>
		<string>宁教我负天下人！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>万古长明</string>
		<key>Id</key>
		<string>50</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4724</string>
		<key>introduction</key>
		<string>教学生，顺便拯救世界。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>无双之魔</string>
		<key>Id</key>
		<string>51</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4725</string>
		<key>introduction</key>
		<string>我是这个世界的梦魇。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>国士无双</string>
		<key>Id</key>
		<string>52</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4726</string>
		<key>introduction</key>
		<string>不做无法实现的梦。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>言灵之书</string>
		<key>Id</key>
		<string>53</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4727</string>
		<key>introduction</key>
		<string>我所守护之地，是圣域的第一宫，白羊宫。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>一骑当千</string>
		<key>Id</key>
		<string>54</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4728</string>
		<key>introduction</key>
		<string>五虎之志未已，再战百世轮回。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>绝代智谋</string>
		<key>Id</key>
		<string>55</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4729</string>
		<key>introduction</key>
		<string>发明了一种美妙的算法，可惜这里空白太小写不下。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>神匠</string>
		<key>Id</key>
		<string>56</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4730</string>
		<key>introduction</key>
		<string>人无法两次重现同一份杰作。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>青莲剑仙</string>
		<key>Id</key>
		<string>57</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4731</string>
		<key>introduction</key>
		<string>今朝有酒今朝醉。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>无忧猛士</string>
		<key>Id</key>
		<string>58</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4733</string>
		<key>introduction</key>
		<string>除了我，猴子是世界第一</string>
	</dict>
	<dict>
		<key>name</key>
		<string>幻舞玲珑</string>
		<key>Id</key>
		<string>59</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4734</string>
		<key>introduction</key>
		<string>红叶最多情，一舞寄相思。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>淬命双剑</string>
		<key>Id</key>
		<string>60</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4735</string>
		<key>introduction</key>
		<string>(莫邪）久练则成（干将）剑无虚发。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>月光之女</string>
		<key>Id</key>
		<string>61</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4736</string>
		<key>introduction</key>
		<string>姻缘呢，上天安排的最大嘛~</string>
	</dict>
	<dict>
		<key>name</key>
		<string>惊鸿之笔</string>
		<key>Id</key>
		<string>62</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4737</string>
		<key>introduction</key>
		<string>上通自然之性，下取万类之象。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>千金重弩</string>
		<key>Id</key>
		<string>63</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4738</string>
		<key>introduction</key>
		<string>本时代最不流行的复古元素，叫浪漫~</string>
	</dict>
	<dict>
		<key>name</key>
		<string>仁德义枪</string>
		<key>Id</key>
		<string>64</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4739</string>
		<key>introduction</key>
		<string>在回忆的起点上等你</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大秦宣太后</string>
		<key>Id</key>
		<string>65</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4740</string>
		<key>introduction</key>
		<string>大争之世，唯论强弱存亡。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>信念之刃</string>
		<key>Id</key>
		<string>66</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4741</string>
		<key>introduction</key>
		<string>别爱我，没结果~</string>
	</dict>
	<dict>
		<key>name</key>
		<string>霓裳风华</string>
		<key>Id</key>
		<string>67</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4742</string>
		<key>introduction</key>
		<string>云想衣裳花想容，春风拂槛露华浓。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>神梦一刀</string>
		<key>Id</key>
		<string>68</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4743</string>
		<key>introduction</key>
		<string>君が为夜空に背き小草中、月に照れるは一轮の花。（为思念之人，寻最美之花。）</string>
	</dict>
	<dict>
		<key>name</key>
		<string>不羁之风</string>
		<key>Id</key>
		<string>69</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4744</string>
		<key>introduction</key>
		<string>独眼，是男人的浪漫。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>无尽之盾</string>
		<key>Id</key>
		<string>70</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4745</string>
		<key>introduction</key>
		<string>******************************</string>
	</dict>
	<dict>
		<key>name</key>
		<string>暗夜loli</string>
		<key>Id</key>
		<string>71</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4746</string>
		<key>introduction</key>
		<string>萝莉身，御姐心！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>不知火舞</string>
		<key>Id</key>
		<string>72</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4747</string>
		<key>introduction</key>
		<string>月のある夜に......会ったことあるかしら?</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王者独尊</string>
		<key>Id</key>
		<string>73</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4748</string>
		<key>introduction</key>
		<string>天上天下，共同世界</string>
	</dict>
	<dict>
		<key>name</key>
		<string>光明之海</string>
		<key>Id</key>
		<string>74</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4749</string>
		<key>introduction</key>
		<string>我的狗像我，我像我的狗</string>
	</dict>
	<dict>
		<key>name</key>
		<string>断案大师</string>
		<key>Id</key>
		<string>75</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4750</string>
		<key>introduction</key>
		<string>我就是法律的化身！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鹰之守护</string>
		<key>Id</key>
		<string>76</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4751</string>
		<key>introduction</key>
		<string>ありがとう、ママハハ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海之新娘</string>
		<key>Id</key>
		<string>77</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4752</string>
		<key>introduction</key>
		<string>我的猫像我，我像我的猫。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>苍天翔龙</string>
		<key>Id</key>
		<string>78</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4753</string>
		<key>introduction</key>
		<string>枪如惊雷，照一身肝胆！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>禁血狂兽</string>
		<key>Id</key>
		<string>79</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4754</string>
		<key>introduction</key>
		<string>百万军中，取人首级如探囊取物！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天元之弈</string>
		<key>Id</key>
		<string>80</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4754</string>
		<key>introduction</key>
		<string>纵横十九道内的，是无穷宇宙</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天元之弈</string>
		<key>Id</key>
		<string>81</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4755</string>
		<key>introduction</key>
		<string>若世有神明，亦会胜他半子。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>逍遥幻梦</string>
		<key>Id</key>
		<string>81</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4756</string>
		<key>introduction</key>
		<string>蝴蝶是我，我就是蝴蝶。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>山林之子</string>
		<key>Id</key>
		<string>82</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4757</string>
		<key>introduction</key>
		<string>此山是我开。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>破晓之神</string>
		<key>Id</key>
		<string>83</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4758</string>
		<key>introduction</key>
		<string>神设下的桎梏，还是由神来打破。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>秩序统将</string>
		<key>Id</key>
		<string>84</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4759</string>
		<key>introduction</key>
		<string>兵可千日而不用，不可一日而不备。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>筑城者</string>
		<key>Id</key>
		<string>85</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4760</string>
		<key>introduction</key>
		<string>进步的终极 是连物质与自然一并掌握。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>战车意志</string>
		<key>Id</key>
		<string>85</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4761</string>
		<key>introduction</key>
		<string>为何而战的意志，胜于钢铁之躯。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>静谧之眼</string>
		<key>Id</key>
		<string>86</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4762</string>
		<key>introduction</key>
		<string>今天的长城也很和平。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>不屈铁壁</string>
		<key>Id</key>
		<string>87</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4763</string>
		<key>introduction</key>
		<string>长城在，故乡就在。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>桀骜炎枪</string>
		<key>Id</key>
		<string>88</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4764</string>
		<key>introduction</key>
		<string>嘿，有兴趣搞点大事吗？</string>
	</dict>
	<dict>
		<key>name</key>
		<string>至高创世</string>
		<key>Id</key>
		<string>89</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4765</string>
		<key>introduction</key>
		<string>我们开创文明，我们传承文明，周而复始，生生不息。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>根源之自</string>
		<key>Id</key>
		<string>90</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4766</string>
		<key>introduction</key>
		<string>小心点，我的武器长了眼</string>
	</dict>
	<dict>
		<key>name</key>
		<string>精灵之弓</string>
		<key>Id</key>
		<string>91</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4767</string>
		<key>introduction</key>
		<string>预备好膝盖了吗？</string>
	</dict>
	<dict>
		<key>name</key>
		<string>传说之刃</string>
		<key>Id</key>
		<string>92</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4768</string>
		<key>introduction</key>
		<string>姐可是传说！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>暗影刀锋</string>
		<key>Id</key>
		<string>93</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4769</string>
		<key>introduction</key>
		<string>刀锋所划之地，便是疆土。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>太古魔导</string>
		<key>Id</key>
		<string>94</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4770</string>
		<key>introduction</key>
		<string>愿者上钩，这是多么痛彻的领悟啊！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>热烈之斧</string>
		<key>Id</key>
		<string>95</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4771</string>
		<key>introduction</key>
		<string>一个字:干！两个字:揍他!三个字:通通推倒! </string>
	</dict>
	<dict>
		<key>name</key>
		<string>寂灭之心</string>
		<key>Id</key>
		<string>96</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4772</string>
		<key>introduction</key>
		<string>一切都在破碎中。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>女帝</string>
		<key>Id</key>
		<string>97</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4773</string>
		<key>introduction</key>
		<string>朕偶尔也想任性一把。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>拳僧</string>
		<key>Id</key>
		<string>99</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4774</string>
		<key>introduction</key>
		<string>贫僧自西天而来，要去往东土大唐取经之地。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>无间傀儡</string>
		<key>Id</key>
		<string>100</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4775</string>
		<key>introduction</key>
		<string>为战斗加点品味，加点恶作剧，嗯——会很有趣！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>善恶怪医</string>
		<key>Id</key>
		<string>101</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4776</string>
		<key>introduction</key>
		<string>别放弃治疗！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>野蛮之锤</string>
		<key>Id</key>
		<string>102</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4777</string>
		<key>introduction</key>
		<string>金钱和混战我都爱！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>暴走机关</string>
		<key>Id</key>
		<string>103</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4778</string>
		<key>introduction</key>
		<string>小小少年，没有烦恼，万事都有老爹罩</string>
	</dict>
	<dict>
		<key>name</key>
		<string>机关造物</string>
		<key>Id</key>
		<string>104</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4779</string>
		<key>introduction</key>
		<string>鲁班大师，智商二百五。膜拜，记得膜拜。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>半神之弓</string>
		<key>Id</key>
		<string>105</string>
		<key>type</key>
		<string>1</string>
		<key>picture</key>
		<string>IMG_4780</string>
		<key>introduction</key>
		<string>故事说，喜鹊在云上架桥；命定之人，会在从桥的那头，奔向你</string>
	</dict>
</array>
</plist>
