github "Alamofire/Alamofire"
github "ReactiveX/RxSwift"
github "onevcat/Kingfisher"
github "SwiftyJSON/SwiftyJSON"
gitHub "CoderMJLee/MJRefresh"
github "robbiehanson/CocoaAsyncSocket"
github "krzyzanowskim/CryptoSwift"