github "Alamofire/Alamofire"
github "ReactiveX/RxSwift"
github "onevcat/Kingfisher"
github "SwiftyJSON/SwiftyJSON"
gitHub "CoderMJLee/MJRefresh"
github "robbiehanson/CocoaAsyncSocket"
github "krzyzanowskim/CryptoSwift"
github "dengfeng520/RPToastView"
github "dengfeng520/RPBannerView-Swift"
github "dengfeng520/RPAutoLayout"